.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.filter-container {
  position: fixed;
  width: 20%;
  top: 7%;
  padding: 5px;
  height: calc(100% - 7% - 10px);
  display: flex;
  flex-direction: column;
}

.filter {
  width: 100%;
  margin: 5px;
  background: #eee;
  float: left;
  flex-grow: 1;
}

.filter input[type=text] {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: calc(100% - 20px);
  margin: 5px;
}

.hide-button {
  top: 5%;
  position: fixed;
  margin: 0 0 0 10px;
}

#street {
  overflow: scroll;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.info-title {
  margin: 5px;
}

.locations-list {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.list-item {
margin: 5px;
padding: 5px;
}

.list-item:hover {
  background: #ddd;
  cursor: pointer;
  color: cadetblue;
}

.pictures {
  margin: 5px;
  width: 100%;
  text-align: center;
  overflow: scroll;
  background: #eee;
  flex-grow: 2;
}

.images {
  max-width: calc(100% - 10px);
  padding: 5px;
  cursor: pointer;
}

.hide {
  display: none;
}

.big-image {
  position: fixed;
  margin: auto;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.81);
}
.big-image img {
  position: absolute;
  margin: auto;
  max-width: 90%;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 700px){
  .filter-container {
    position: fixed;
    width: 50%;
    top: 15%;
    padding: 5px;
    height: calc(100% - 15% - 10px);
  }

  .hide-button {
    padding: 10px;
    top: 10%;
    position: fixed;
    margin: 0 0 20px 10px;
  }

  .filter input[type=text] {
    height: 30px;
  }

}

@media screen and (max-width: 450px){
  .filter-container {
    position: fixed;
    width: 75%;
    top: 15%;
    padding: 5px;
    height: calc(100% - 15% - 10px);
  }

  .hide-button {
    padding: 10px;
    top: 10%;
    position: fixed;
    margin: 0 0 20px 10px;
  }

}

@media only screen and (max-width: 700px) and (orientation: landscape) {

  .filter-container {
    top: 15%;
    width: 100%;
    flex-direction: row;
  }

  .filter {
    width: 50%;
    overflow: scroll;
  }

  .pictures {
    width: 20%;
  }

  .hide-button {
    top: 2%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
